.header--nav {
    background-color: rgba(63, 169, 245);
    padding: 1em;
}

.header--nav.image {
    width: 300px;
    height: 200px;
}

a:link {
  color: rgba(242, 242, 243);
  text-decoration: none;
}


a:visited {
  color: rgba(242, 242, 243);
  text-decoration: none;
}


a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}